<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Editar Paciente</h5>
      </div>
    </div>

    <!-- Module de Resposta da Api -->
    <div *ngIf="responseScreen">
        <app-responses></app-responses>
      </div>
      <!-- End of Modulo de Resposta da Api-->

      <!-- Module de Loader -->
      <div class="row align-items-center" style="height: 400px" *ngIf="estadoLoad">
        <div class="col-sm">
            <div class="row justify-content-center">
                <div class="loader-in-box" style="margin-top: 10px">
                    <app-loader></app-loader>
                    <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                </div>
            </div>
        </div>
      </div>
      <!-- End of Module de Loader-->

    <div *ngIf="estadoLoad===false && responseScreen===false">

        <form [formGroup]="formEditCliente">
            <div class="row" style = "margin-top: 30px">
              <div class="col-sm-4">
                  <label class="label-teste texto">CPF</label>
                  <div class="form-group" style="margin-bottom: 0px">
                    <fieldset disabled>
                    <input
                      style="background: #e9e8e7; color: #6d6c6c"
                      class="form-control {{ cpfValido ? 'is-valid' : 'is-invalid'}}"
                      [textMask]="{mask: cpf_mask}"
                      formControlName="cpf"
                      (input)="validaCPF(input)"></fieldset>
                  </div>

                <label class="label-teste texto">Nome</label>
                  <div class="form-group">
                    <input
                      class="form-control {{ nomeValido ? 'is-valid' : 'is-invalid'}}"
                      formControlName="nome"
                      (input)="validaNome(input)">
                  </div>
                  <label class="label-teste texto">Endereço</label>
                  <div class="form-group">
                    <input
                      class="form-control {{ enderecoValido ? 'is-valid' : 'is-invalid'}}"
                      formControlName="endereco"
                      (input)="validaEndereco(input)">
                  </div>
              </div>

              <div class="col-sm-4">
                <label class="label-teste texto">E-mail</label>
                <div class="form-group">
                  <input
                    class="form-control {{ emailValido ? 'is-valid' : 'is-invalid'}}"
                    formControlName="email"
                    (input)="validaEmail(input)">
                </div>

                <label class="label-teste texto">Telefone</label>
                <div class="form-group">
                  <input
                    class="form-control {{ telefoneValido ? 'is-valid' : 'is-invalid'}}"
                    [textMask]="{mask: celular_mask}"
                    formControlName="telefone"
                    (input)="validaTelefone(input)">
                </div>

                <label class="label-teste texto">Data de nascimento</label>
                <div class="form-group">
                  <input
                    class="form-control {{ data_nascValido ? 'is-valid' : 'is-invalid'}}"
                    formControlName="data_nasc"
                    [textMask]="{mask: birth_mask}"
                    (input)="validaData(input)">
                </div>
              </div>
            </div>
            <button class="btn btn-sm laranja" [disabled]="estadoForm" (click)="atualizarCliente()">ATUALIZAR PACIENTE</button>
          </form>

    </div>

  </div>
</div>
