.card-title {
    background-image: url("/assets/logo_saude.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
}

.rosa{
    margin-top: 10px;
    background-color: #BC5796;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
}

.blue{
    margin-top: 10px;
    background-color:#37A5DA;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
}

.cinza{
    margin-top: 10px;
    background-color: #c4c4c4;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
}

.rosa:hover{
    background-color: rgb(151, 41, 111);
}

.cadastrar {
    height: 40px;
    font-style: bold;
    font-size: 15px;
    margin-top: 10px;
    background-color: #BC5796;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
}

.msg_codigo_proposta{
    color: #37A5DA;
    text-align: center;
    font-size: .8rem;
}

.new_user_img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.cadastrar:hover {
    background-color: #79b760;
}

.extra{
    border: 0 ;
    border-bottom: 1px solid rgb(211, 124, 179);
    border-radius: 0
}

.fullscreen{
    z-index: 1000;
    height: 100%;
    width: 100%;
    background:rgba(0,0,0,.8);
    position: fixed;
    left: 0;
    top: 0;
}

.box {
    
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.returnButton{
    width: 25px;
    height: 25px;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    cursor: pointer;
}

.returnButton:hover{
    background-color: #e9e8e7;
    border-radius: 20px;
    width: 27px;
    height: 27px;
}

.driver {
    background-image: url("/assets/uber.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    width: 100%;
    margin-bottom: 5px;
}

.empresa {
    background-image: url("/assets/comercio.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    width: 100%;
    margin-bottom: 5px;
}

.modal-content{
    margin-top: 100px;
    border: 0px solid rgba(0,0,0,.2);
    color: rgba(0,0,0,0.54);
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: .5rem .5rem 0rem .5rem;
    border-bottom: 0px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-footer{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding: 0.7rem;
    border-top: 0px solid #e9ecef;
}

.modal-body{
    padding: 10px 20px 0 20px;
}

.linha_title2 {
    margin-top: 0; 
    margin-bottom: 10px;
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%
}

.email-img {
    width: 50px;
    height: 50px;
}

.texto-rosa{
    font-weight: 500;
    font-size: 1.2rem;
    color: #cb4386;
}

.loader-in-box {
    width: 50px;
}
