<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Gerenciar profissional</h5>
      </div>
    </div>
      
    <div class="row" style = "margin-top: 30px"> 
      <div class="col-sm">
        <p class="texto">Buscar profissional</p>
        <div class="linha_acess"></div>
      </div>
    </div>
      
    <div class="row" style = "margin-top: 20px"> 
      <div class="col-sm-5">
        <label class="label-teste texto">Nome</label>
        <form [formGroup]="formBuscarProfissional">
        <div class="form-group">   
          <input
            class="form-control"
            formControlName="nome"
            (input)="buscarProfissionalViaInput()"
            id="nome">
        </div> 
      </form>
      </div>
      
      <div class="col-sm-2 d-flex align-items-center">
        <button class=" float-leftbtn btn-sm laranja" (click)="buscarProfissional()">BUSCAR</button> 
      </div>
    </div>
  </div>
</div>
  
<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Profissionais</h5>
      </div>
    </div>

    <!-- Module de Loader -->
<div class="row align-items-center" style="height: 250px" *ngIf="estadoLoad">
    <div class="col-sm">
        <div class="row justify-content-center">
            <div class="loader-in-box" style="margin-top: 10px">
                <app-loader></app-loader>
                <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
            </div>
        </div>
    </div>
    </div>
    <!-- End of Module de Loader-->

    <div *ngIf="profissionais_validos===false">
        <p class = "no-unity-msg text-center">{{msg_profissionais_erro}}</p>
    </div>

    <div *ngIf="estadoLoad===false && profissionais_validos && all_profissionais">
        <div class="row" style = "margin-top: 30px" > 
          <div class="col-sm">
            <app-lista-prof></app-lista-prof>
          </div>
        </div>
    </div>

      <div *ngIf="estadoLoad===false && profissionais_validos">
          <div class="row" style = "margin-top: 30px" > 
            <div class="col-sm">
              <app-listar-busca-profissional></app-listar-busca-profissional>
            </div>
          </div>
      </div>
  </div>
</div>