<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Cadastrar Unidades de Farmácias</h5>
      </div>
    </div>

    <!-- Module de Resposta da Api -->
    <div *ngIf="responseScreen">
      <app-responses></app-responses> 
    </div>
    <!-- End of Modulo de Resposta da Api-->

    <!-- Module de Loader -->
    <div class="row align-items-center" style="height: 400px" *ngIf="estadoLoad">
      <div class="col-sm">
          <div class="row justify-content-center">
              <div class="loader-in-box" style="margin-top: 10px">
                  <app-loader></app-loader>
                  <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
              </div>
          </div>
      </div>
      </div>
      <!-- End of Module de Loader-->
    
    <div *ngIf="estadoLoad===false && responseScreen===false">
      <form [formGroup]="formFarmacia">
        <div class="row" style = "margin-top: 30px"> 
          <div class="col-sm">
            <label class="label-teste texto">Nome</label>
              <div class="form-group">   
                <input
                  class="form-control {{ nomeValido ? 'is-valid' : 'is-invalid'}}"
                  formControlName="nome_unidade"
                  (input)="validaNome(input)">
              </div>
              <label class="label-teste texto">Endereço</label> 
              <div class="form-group">
                <input  
                  class="form-control {{ enderecoValido ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="endereco"
                  (input)="validaEndereco(input)">
              </div>
              <div class="row">
                <div class="col-sm">
                    <label class="label-teste texto">Horário Abertura</label> 
                    <div class="form-group">
                      <input 
                        class="form-control {{ codValido ? 'is-valid' : 'is-invalid'}}" 
                        formControlName="horario_abre"
                        (input)="validaCodigo(input)">
                    </div>
                </div>
                <div class="col-sm">
                    <label class="label-teste texto">Horário Fechamento</label> 
                    <div class="form-group">
                      <input
                        [type]="text"
                        class="form-control {{ senhaValido ? 'is-valid' : 'is-invalid'}}" 
                        formControlName="horario_fecha"
                        (input)="validaSenha(input)">
                    </div>
                </div>
              </div>
                
            </div>   
      
            <div class="col-sm">
              <label class="label-teste texto">Código Unidade</label>
              <div class="form-group">   
                <input
                  class="form-control {{ emailValido ? 'is-valid' : 'is-invalid'}}"
                  formControlName="codigo_unidade"
                  (input)="validaEmail(input)">
              </div> 
              <label class="label-teste texto">Bairro</label> 
              <div class="form-group">
                <input 
                  class="form-control {{ data_nascValido ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="bairro"
                  (input)="validaData(input)">
              </div>
            </div>
              
          </div>
          <button (click)="cadastrarProfissional()"
          class="btn btn-sm primary" [disabled]="estadoForm">CADASTRAR</button> 
        </form>
    </div>
    </div>
</div>

<div class="card-box">
    <div class="card-new" style="width: 100%;">
      <div class="row head_module">
        <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
          <h5 style="margin:0px;">Gerenciar Farmácias</h5>
        </div>
      </div>
      <div class="row" style = "margin-top: 30px"> 
        <div class="col-sm">
          <button class="btn btn-sm primary_hover" style="margin-top: 15px" routerLink="/dashboard/gerenciar-profissional">GERENCIAR PROFISSIONAIS</button> 
        </div>
      </div>
    </div>
  </div>
