<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>

    <p class = "text-center" style = "color: #BC5796; font-style: bold">SOU MOTORISTA DE APP</p>
    
    <form [formGroup]="formLogarPL" (ngSubmit)="logarPL()">
      <div class="form-group">
        <input
          type="text" 
          class="form-control extra"
          placeholder="CPF"
          formControlName="cpf"
          [textMask]="{mask: cpf_mask}"
          required
        >
      </div>
      <div class="form-group">
        <input 
          type="password"
          class="form-control extra" 
          placeholder="Senha"
          formControlName="senha"
          required
        >
      </div>
      <button type="submit" class="btn rosa btn-sm btn-block">Entrar</button>
      <swal #swalWarning title="Atencão!" text="CPF ou Senha estão incorretos. Tente novamente!"></swal>
    </form>
    <hr />

    <p class="card-text text-center">
        É empresa e já está cadastrado? <label routerLink="/empresa" style="color: #37A5DA; cursor: pointer;">Entre por aqui</label>
      </p>
      
  </div>
</div>
<br />
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text text-center">
      Não tem uma conta? <label style="color: #37A5DA; cursor: pointer;" (click)="exibirPainelCadastro()">Cadastre-se</label>
    </p> 
  </div>
</div>

<div class="fullscreen" *ngIf="estadoLoad">
    <app-loader class="box"></app-loader>
</div>
