<div class="sidebar" [ngStyle]="{'width': (ativo ? '60px' : '275px'), 'height':'100%'}">
    <ul class="frenteback">


      <li *ngIf="funcionalidades[0].m_vendas!=0">
        <a class="nav-link" routerLink="/dashboard/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [ngStyle]="{'width': (ativo ? '' : '')}">
          <div  id="div">
            <i class="material-icons">dashboard</i>
              <span class="nomemenu" [@nomemenu]="estado">Buscar Receita</span></div></a></li>

      <li *ngIf="funcionalidades[0].tipo_usuario===2" style="padding-top: 5px;">
          <a class="nav-link" routerLink="/dashboard/indicacao" routerLinkActive="active" >
            <div  id="div">
              <i class="material-icons">dashboard</i><span class="nomemenu" [@nomemenu]="estado">Indicação</span></div>
        </a></li>

      <li *ngIf="funcionalidades[0].m_produtos!=0" style="padding-top: 5px">
        <a class="nav-link" routerLink="/dashboard/produtos" routerLinkActive="active" >
          <div  id="div">
            <i class="material-icons">loyalty</i>
            <span class="nomemenu" [@nomemenu]="estado">Adicionar produtos</span></div>
      </a></li>

      <li *ngIf="funcionalidades[0].m_profissional!=0" style="padding-top: 5px;">
        <a class="nav-link" routerLink="/dashboard/profissional-saude" routerLinkActive="active" >
          <div  id="div">
            <i class="material-icons">people</i><span class="nomemenu" [@nomemenu]="estado">Profissional de Saúde</span></div>
      </a></li>

      <li *ngIf="funcionalidades[0].tipo_usuario===2 || funcionalidades[0].tipo_usuario===1" style="padding-top: 5px;">
        <a class="nav-link" routerLink="/dashboard/clientes" routerLinkActive="active" >
        <div   id="div">
          <i class="material-icons">person_add</i>
            <span class="nomemenu" [@nomemenu]="estado">Pacientes</span></div>
      </a></li>
      <li *ngIf="funcionalidades[0].m_historico!=0" style="padding-top: 5px;">
        <a class="nav-link" routerLink="/dashboard/historico" routerLinkActive="active" >
          <div  id="div">
            <i class="material-icons">receipt</i><span class="nomemenu" [@nomemenu]="estado">Histórico</span></div>
      </a></li>

      <li *ngIf="funcionalidades[0].tipo_usuario===2" style="padding-top: 5px;">
        <a class="nav-link" routerLink="/dashboard/historico-profissional" routerLinkActive="active" >
          <div  id="div">
            <i class="material-icons">description</i><span class="nomemenu" [@nomemenu]="estado">Histórico</span></div>
      </a></li>
      <li *ngIf="funcionalidades[0].tipo_usuario===1" style="padding-top: 5px;">
        <a class="nav-link" routerLink="/dashboard/funcoes-adm" routerLinkActive="active" >
          <div  id="div">
            <i class="material-icons">settings</i><span class="nomemenu" [@nomemenu]="estado">Funções Adm</span></div>
      </a></li>
      <li *ngIf="funcionalidades[0].tipo_usuario===2" style="padding-top: 5px;">
        <a class="nav-link" routerLink="/dashboard/meus-dados" routerLinkActive="active" >
          <div  id="div">
            <i class="material-icons">person</i><span class="nomemenu" [@nomemenu]="estado">Meus Dados</span></div>
      </a></li>
      <li *ngIf="funcionalidades[0].tipo_usuario===1" style="padding-top: 5px;">
          <a class="nav-link" routerLink="/dashboard/nutrir_estoque" routerLinkActive="active" >
            <div  id="div">
              <i class="material-icons">person</i><span class="nomemenu" [@nomemenu]="estado">Nutrir Estoque</span></div>
        </a></li>
      <li *ngIf="funcionalidades[0].tipo_usuario==1" style="padding-top: 5px;">
        <a class="nav-link" routerLink="/dashboard/meus-dados-colab" routerLinkActive="active" >
          <div  id="div">
            <i class="material-icons">person</i><span class="nomemenu" [@nomemenu]="estado">Meus Dados</span></div>
      </a></li>
      <li *ngIf="funcionalidades[0].tipo_usuario==1" style="padding-top: 5px;">
        <a class="nav-link" routerLink="/dashboard/farmacias" routerLinkActive="active" >
          <div  id="div">
            <i class="material-icons">pin_drop</i><span class="nomemenu" [@nomemenu]="estado">Farmácias</span></div>
      </a></li>
      <li  style="padding-top: 5px;"><a class="nav-link" (click)="logout()" >
        <div  routerLinkActive="active"  id="div">
          <i class="material-icons">chevron_right</i>
          <span class="nomemenu" [@nomemenu]="estado">Sair</span></div>
      </a></li>
    </ul>
  </div>

  <div class="fullscreen" *ngIf="estadoLoad">
      <app-loader class="box"></app-loader>
  </div>


  <div class="modal fade" id="loadLogout" tabindex="2000"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: transparent; height: 100%; margin-top: 300px;">
          <div class="modal-body" style="padding: 0rem 1rem 0rem 1rem;">
            <div>
              <app-loader class="box"></app-loader>
            </div>
            <div style="margin-top: 110px">
              <p class= "text-center" style="font-size: 10px; color: white">Saindo...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
