.tr_navbar {
    margin-top: 30px;
    margin-bottom: 0;
    width: 10px;
    height: 90%;
}

.tr_navbar_img {
    width: 150px;
    height: 90%;
    opacity: 0.7;
}

.tr_presents_content {
    margin-top: 15%;
}

.title {
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1em;
    margin: 0 0 30px;
    position: relative;
}

.subtitle {
    margin-left: 5%;
    margin-right: 5%;
}

.rosa{
    margin-top: 10px;
    padding: 20px;
    background-color: #BC5796;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
}

.rosa:hover{
    background-color: rgb(151, 41, 111);
}

.card {
    background-color: transparent;
}

.banner {
    position: absolute;
    bottom: 44px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    text-align: center;
    max-width: 100%;
    z-index: 13;
    min-height: 550px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 0px;
    top: 5%;
}

.banner-text {
    padding: 5%;
    position: relative;
    top: 0; 
}

.five-stars {
    width: 100%;
}

.card-body {
    margin-bottom: 0%;
}

.btn-free-month {
    margin-left: 5%; 
    margin-right: 5%
}

@media (min-width: 1000px){
    .tr_navbar {
        margin-top: 30px;
        margin-bottom: 0;
        width: 30%;
        height: 100%;
    }

    .tr_navbar_img {
        width: 100%;
        opacity: 0.7;
    }

    .tr_presents_content {
        margin-top: 10%;
    }

    .five-stars{
        margin-left: 25%;
        width: 50%;
    }

    .canvas-title {
        padding-left: 70px;
        padding-right: 70px;
    }

    .card-body {
        margin-bottom: 0%;
    }
}