<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Gerenciar pacientes</h5>
      </div>
    </div>

    <div class="row" style = "margin-top: 30px">
      <div class="col-sm">
        <p class="texto">Buscar pacientes</p>
        <div class="linha_acess"></div>
      </div>
    </div>

    <form [formGroup]="formBuscaCliente">
    <div class="row" style = "margin-top: 20px">
      <div class="col-sm-5">
        <label class="label-teste texto">Nome</label>
        <div class="form-group">
          <input
            class="form-control"
            formControlName="nome"
            id="nome"
            (input)="buscarClienteViaInput()">
        </div>
      </div>

      <div class="col-sm-2 d-flex align-items-center">
        <button class=" float-leftbtn btn-sm laranja" (click)="buscarCliente()">BUSCAR</button>
      </div>
    </div>
  </form>
  </div>
</div>

<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Pacientes</h5>
      </div>
    </div>

    <!-- Module de Loader -->
  <div class="row align-items-center" style="height: 250px" *ngIf="estadoLoad">
    <div class="col-sm">
        <div class="row justify-content-center">
            <div class="loader-in-box" style="margin-top: 10px">
                <app-loader></app-loader>
                <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
            </div>
        </div>
    </div>
    </div>
    <!-- End of Module de Loader-->

    <div *ngIf="clientes_validos===false">
        <p class = "no-unity-msg text-center">{{msg_clientes_erro}}</p>
    </div>

    <div *ngIf="estadoLoad===false && clientes_validos">
      <div class="row" style = "margin-top: 30px" >
        <div class="col-sm">
          <app-lista-cliente></app-lista-cliente>
        </div>
      </div>
  </div>
  </div>
</div>
