<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Cadastrar Nota Fiscal</h5>
      </div>
    </div>

    <!-- Module de Resposta da Api -->
    <div *ngIf="responseScreen">
      <app-responses></app-responses>
    </div>
    <!-- End of Modulo de Resposta da Api-->

    <!-- Module de Loader -->
    <div class="row align-items-center" style="height: 400px" *ngIf="estadoLoad">
      <div class="col-sm">
        <div class="row justify-content-center">
          <div class="loader-in-box" style="margin-top: 10px">
            <app-loader></app-loader>
            <p class="text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Module de Loader-->

    <div *ngIf="estadoLoad===false && responseScreen===false">
      <form [formGroup]="formNota">
        <div class="row" style="margin-top: 30px">
          <div class="col-sm">
            <label class="label-teste texto">Nota</label>
            <div class="form-group">
              <input class="form-control {{ notaValida ? 'is-valid' : 'is-invalid'}}" formControlName="nota"
                (input)="validaNota(input)">
            </div>
            <label class="label-teste texto">Série</label>
            <div class="form-group">
              <input class="form-control {{ serieValida ? 'is-valid' : 'is-invalid'}}" formControlName="serie"
                (input)="validaSerie(input)">
            </div>
            <div class="row">
              <div class="col-sm">
                <label class="label-teste texto">Fornecedor</label>
                <div class="form-group">
                  <input class="form-control {{ fornecedorValido ? 'is-valid' : 'is-invalid'}}"
                    formControlName="fornecedor" (input)="validaFornecedor(input)">
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- <button (click)="cadastrarProfissional()" class="btn btn-sm primary" [disabled]="estadoForm">CADASTRAR</button> -->
      </form>
    </div>
  </div>
</div>

<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Gerenciar Medicações</h5>
      </div>
    </div>
    <!-- <div class="row" style="margin-top: 30px">
      <div class="col-sm">
        <button class="btn btn-sm primary_hover" style="margin-top: 15px"
          routerLink="/dashboard/gerenciar-profissional">GERENCIAR PROFISSIONAIS</button>
      </div>
    </div> -->
    <div *ngIf="estadoLoad===false && responseScreen===false">
      <form [formGroup]="formMedicacao">
        <div class="row" style="margin-top: 30px">
          <div class="col-sm">
            <label class="label-teste texto">Escolher Medicamento</label>
            <div class="form-group">
              <div class="row">

                <div class="col-sm">
                  <select class="form-control extra" name="medicamento" [(ngModel)]="id_medicamento">
                    <option selected disabled>ESCOLHA</option>
                    <option *ngFor="let medicamento of medicamentos" value="{{medicamento.id}}">
                      {{medicamento.nome}}
                    </option>
                  </select>
                  <p *ngIf="erro_medicamento!=null">{{erro_medicamento}}</p>
                </div>
              </div>

              <!-- <select name="select">
                <option value="valor1">Valor 1</option>
                <option value="valor2" selected>Valor 2</option>
                <option value="valor3">Valor 3</option>
              </select>
              <input class="form-control {{ medicamentoValido ? 'is-valid' : 'is-invalid'}}"
                formControlName="medicamento" (input)="validaMedicamento(input)">
            </div> -->
              <label class="label-teste texto">Quantidade</label>
              <div class="form-group">
                <!-- {{ quantidadeValida ? 'is-valid' : 'is-invalid'}} -->
                <input class="form-control "
                  formControlName="quantidade" (input)="input">
              </div>
              <div class="row">
                <div class="col-sm">
                  <label class="label-teste texto">Dosagem</label>
                  <div class="form-group">
                    <!-- {{ dosagemValido ? 'is-valid' : 'is-invalid'}} -->
                    <input class="form-control " formControlName="dosagem"
                      (input)="input">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <label class="label-teste texto">Preço</label>
                  <div class="form-group">
                    <!-- {{ precoValido ? 'is-valid' : 'is-invalid'}} -->
                    <input class="form-control " formControlName="preco"
                      (input)="input">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <label class="label-teste texto">Lote</label>
                  <div class="form-group">
                      <!-- {{ loteValido ? 'is-valid' : 'is-invalid'}} -->
                    <input class="form-control " formControlName="lote"
                      (input)="input">
                  </div>
                </div>
              </div>
            </div>
            <button (click)="cadastrarMedicacao()" class="btn btn-sm primary" [disabled]="estadoForm">CADASTRAR</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
