<nav class="navbar navbar-light justify-content-between" style="background-color: #ffffff">
	<div>
		<img src="/assets/logo-icon-saude.svg" width="40" height="40" id="ico" [@nomemenu]="estado1" [ngStyle]="{'display': (ativo ? '' : 'none')}">
		<img src="/assets/logo-saude.svg" id="logotop"  [@nomemenu]="estado" [ngStyle]="{'margin-top': (ativo ? '-90px' : '0px')}">
		<a class="btn" (click)="setStyles()" [ngStyle]="{'margin-left': (ativo ? '-174px' : '43px')}"><i class="material-icons" id="tog">menu</i></a>
	</div>
	<div></div>
	<div>
		<div id="todonome">
			<div id="nomet"><span>{{nome_colaborador}}</span></div>
			<div id="cpf"><small>CPF - {{cpf_colaborador}}</small></div>
		</div>
		<img src="{{mostrarImg(imagem_usuario)}}" width="50" height="50" id="imgperfil">
	</div>
</nav>
