<div class="card-box">
    <div class="card-new" style="width: 100%;">
        <div class="row head_module">
            <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
                <h5 style="margin:0px;">Buscar Receita</h5>
            </div>
        </div>

        <div class="row" style = "margin-top: 30px"> 
            <div class="col-sm" style="padding-right: 0">
                <form [formGroup]="formReceita">
                    <p class="texto float-left" style="margin-right: 15px; margin-top: 10px">Insira o código da receita:</p>
                    <div class="form-group">
                        <input 
                        class="form-control float-left {{ codigoValido ? 'is-valid' : 'is-invalid'}}"
                        id="codigo"
                        formControlName="codigo"
                       
                        (input)="validaCodigo(input)"
                        style="width: 200px; margin-right: 15px"
                        style="text-transform:uppercase; width: 200px; margin-right: 15px">
                    </div>
                    <button class="float-left btn btn-sm primary" 
                    (click)="buscarReceita()" [disabled]="estadoForm">ENVIAR</button>      
                </form>
            </div>     
        </div>
    </div>
</div>

<div class="card-box">
    <div class="card-new" style="width: 100%">

        <div *ngIf="vendaPresents && estadoLoad===false" class="row align-items-center" style="height: 300px">
            <div class="col-sm">
                <div class="row justify-content-center">
                    <div style="margin-top: 60px; margin-bottom: 60px">
                        <div class="row justify-content-center">
                        <div class="img_receita"></div>
                        </div>
                        <div class="text-center" style="width: 400px">
                        <h5 style="color: #005346">Finalize Receitas!</h5>
                        <p>Insira o código da receita acima para iniciar a venda.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <!-- Module de Resposta da Api -->
        <div *ngIf="responseScreen && vendaPresents === false && estadoLoad===false">
            <app-responses></app-responses> 
        </div>
        <!-- End of Modulo de Resposta da Api-->

        <!-- Module de Loader -->
        <div class="row align-items-center" style="height: 300px" *ngIf="estadoLoad">
            <div class="col-sm">
                <div class="row justify-content-center">
                    <div class="loader-in-box" style="margin-top: 10px">
                        <app-loader></app-loader>
                        <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Module de Loader-->

        <div *ngIf="receita_valida === false">
            <p class = "no-unity-msg text-center">{{msg_receita_erro}}</p>
        </div>

        <div *ngIf="estadoLoad===false && receita_valida && vendaPresents===false && responseScreen === false">
            <form [formGroup]="formProfissional">
            <div class="row">
                <div class="col-sm-2" style="padding-right: 0">
                    <img class="new_user_img" src="{{img_profissional}}" >
                </div>
                <div class="col-sm-4" style="padding-left: 0">
                    <p class="texto" style="margin-top: 10px">Profissional de Saúde</p>
                    <div *ngIf="profissional!=null">
                        <p style="font-size: 16px; margin:0">{{profissional.nome}}</p>
                        <p style="margin:0">CPF - {{profissional.cpf}}</p>
                    </div>
                </div> 
            </div>
            </form>
            
            <div class="linha_title"></div>
            <form [formGroup]="formCliente">
            <div class="row">
                <div class="col-sm-4">
                    <p class="texto" style="margin-top: 10px">Paciente indicado</p>
                    <input 
                        class="form-control"
                        id="input_nome_cliente"
                        formControlName="nome_cliente"
                        placeholder="Nome Cliente">
                    <input 
                        class="form-control"
                        id="input_email_cliente"
                        formControlName="email_cliente"
                        placeholder="Email">
                </div>
                <div class="col-sm" style="margin-top: 34px">
                    <input 
                        class="form-control"
                        id="input_data_nasc_cliente"
                        formControlName="nasc_cliente"
                        [textMask]="{mask: birth_mask}"
                        placeholder="Data de Nascimento">
                    <input 
                        class="form-control"
                        id="input_endereco_cliente"
                        formControlName="endereco_cliente"
                        placeholder="Endereço">
                </div>
                <div class="col-sm" style="margin-top: 34px">
                    <input 
                        class="form-control"
                        id="input_cpf_cliente"
                        formControlName="cpf_cliente"
                        [textMask]="{mask: cpf_mask}"
                        placeholder="CPF">
                    <div class="row">
                        <div class="col-sm">
                            <input 
                                style="margin-top: 0"
                                class="form-control"
                                id="input_celular_cliente"
                                [textMask]="{mask: celular_mask}"
                                formControlName="celular_cliente"
                                placeholder="Celular">
                        </div>
                    </div>
                </div>
            </div>
            </form>
            
            <div class="linha_title"></div>
            <div class="row">
                <div class="col-sm">
                    <p class="texto" style="margin-top: 10px">Produtos indicados pelo profissional de saúde</p>
                    <p style="font-size: .9rem">Marque os produtos que o cliente comprou</p>
                </div>
            </div>
            <div class="row">

                <div *ngIf="estadoProdutos===false">
                    <div>
                        <p class = "no-unity-msg text-center">{{msg_no_produtos}}</p>
                    </div>
                </div>
                <div class="col" *ngIf="estadoProdutos">
                    <div>
                        <app-lista-produto></app-lista-produto> 
                    </div>
                </div>
            </div>
            <form [formGroup]="formBuscarProduto">
            <div class="row" style="margin-top: 10px">
                <div class="col-sm">
                    <p class="texto" style="margin-top: 10px">Paciente levou outro produto? Adicione aqui!</p>
                    <p style="font-size: .9rem">Se o paciente levou outros produtos que não estão na receita, você pode acrescentá-los aqui. Basta pesquisar o produto pelo nome.</p>
                    <input 
                        class="form-control float-left"
                        formControlName="nome"
                        placeholder="Digite o nome do produto"
                        (input)="buscarProdutoViaInput()"
                        style="width: 300px; margin-right: 15px">
                    <button class="float-left btn btn-sm primary_hover" (click)="buscarProduto()">BUSCAR</button>   
                </div>
            </div>

            <div class="row" *ngIf="outros_prod!=null">
                    <div class="col">
                        <div class="scrollmenu">
        
                          <div class="produtos-box" *ngFor="let produto of outros_prod">
                              <div style="width: 250px">
                                <div class="row d-flex justify-content-center" style="margin-right: 15px">
                                  <div class="row justify-content-center">
                                    <img class="produto " src={{mostrarImg(produto.img)}} (error)="this.src=mostrarImg(null)">
                                  </div>
                                  <div class="row justify-content-center" style="padding-left: 20px; padding-right: 20px">
                                      <p class="text-center" style="font-size: .9rem; font-weight: 500; margin-bottom: 0; overflow: hidden;"><label>{{produto.nome}}</label></p>
                                        <p class="text-center" style="font-size: .9rem; line-height: 1.2; width: 240px; height: 50px; overflow: hidden; white-space: normal">{{showDescricao(produto.descricao)}}</p>
                                        <ui-switch [checked]="false" color="black" switchColor="#005346"
                                        (change)="mudarStatusProdutoSelecionado($evento, produto)"></ui-switch>
                                    </div>
                                </div>
                              </div>
                            </div>
                            </div>
                    </div>
                  </div>
            </form>
            <div class="row">
                <div class="col-sm">
                    <p class="texto" style="margin-top: 10px">Produtos adicionados no carrinho</p> 
                    <div class="linha_title" style="margin-top: 2px; margin-bottom: 10px"></div> 
                    <div *ngIf="produtos_selecionados.length>0">
                        <div *ngFor="let produto of produtos_selecionados">
                            <p style="margin-bottom: 0; font-size: 14px;">{{produto.nome}}</p>
                            <div class="linha_acess"></div>
                        </div>
                    </div>
                    <div *ngIf="produtos_selecionados.length===0">
                        <p style="margin-bottom: 0; font-size: 14px;">Não há nenhum produto no carrinho</p>
                    </div>
                    <div class="linha_title"></div>  
                </div> 
            </div>
            <form [formGroup]="formValorReceita">
            <div class="row">
                <div class="col-sm">
                    <p class="texto" style="margin-top: 10px">Valor total</p> 
                    <input 
                        class="form-control float-left"
                        placeholder="R$0,00"
                        formControlName="valor"
                        id="input_valor_total"
                        currencyMask
                        [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', teste: '00' }"
                        style="width: 200px; margin-right: 15px">
                    <button class="float-left btn btn-sm primary" [disabled]="estadoForm2" data-toggle="modal" data-target="#modalMsgConfirm">FINALIZAR RECEITA</button>     
                </div> 
            </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Mensagem de Confirmação -->

<div class="modal fade bd-example-modal-sm1" id="modalMsgConfirm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" style="justify-content: center">  
          <h6 class="modal-title text-center">Finalize Receitas</h6>  
        </div>
                          
        <div class="modal-body" style="padding: 0.5rem 0.8rem 0.8rem 0.8rem">
            <p>Você tem certeza dos produtos e do valor desta receita?</p>
        </div>

        <div class="modal-footer">
          <button class="btn primary_hover btn-sm btn-block col-sm-4" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">CANCELAR</button>
          <button class="btn primary btn-sm btn-block col-sm-7" style="border: 2px solid #005346; margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal" (click)="finalizarReceita()">SIM, FINALIZAR</button>
        </div>
      </div>
    </div>
  </div>

   <!-- End of Modal Mensagem de Confirmação -->
