.card-header{
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
}

.card{
    margin-top: 20px;
}

.head_module{
    margin: -20px;
    margin-top: -10px;
    background-color: #00362e;
    color: #fff
}

.valores{
    background-color: #129cd8;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    color: #fff;
    float: left;
    cursor: pointer;
    overflow: hidden;
}


.escolha{
    margin-bottom: 50px;
}


.card-box {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px 10px 10px 10px
}

.title-box {
    color: black;
    font-size: 16px;
    margin-bottom: 0px;
}

.card{
    margin: 10px
}

.card-body{
    padding: 0;
}

.card-title {
    width: 100%;
    padding: 10px;
    margin: 0 0 5px 5px;
    border-bottom: solid gray 1px
}

.card-new {
    border-radius: 2px;
    color: rgba(0,0,0,0.54); 
    margin-left: 10px;
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.card-new-col {
    border-radius: 8px;
    color: rgba(0,0,0,0.54); 
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: .5rem .5rem 0rem .5rem;
    border-bottom: 0px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-content{
    margin-top: 100px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-top: 0px solid #e9ecef;
}

.primary{
    margin-top: 10px;
    background-color: #005346;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}

.primary_hover{
    color: #005346;
    border: 2px solid #005346;
    border-radius: 20px;
    background-color: transparent;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}

.primary_hover:hover{
    background-color: #005346;
    color: #fff;
    border: 2px solid transparent;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .7rem 1.2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem ;
    border: 1px solid #37A5DA;
    margin-right: 1.5rem;
    font-weight: 600;
}

.btn_cash{
    background-color: #37A5DA;
}

.btn_cash:focus{
    background-color: #c4c4c4;
}

.rosa_hover{
    margin-top: 10px;
    color: #c4c4c4;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
}

.rosa_hover:hover{
    background-color: #cb4386;
    color: #fff;
    border: 1px solid transparent;
}

.new_user_img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.foot-margin {
    height: 20px;
}
.linha_title {
    margin-top: 10px; 
    margin-bottom: 10px;
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%
}

.linha_acess {
    margin-top: 0;  
    border-bottom: solid 1px #e2e2e2; 
    height: 5px; 
    width: 100%
}

.card-acess {
    margin: 20px 10px 10px 10px
}

.page_acess {
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.page_acess_ativo {
    color: #1b2f39
}

.page_acess_blur {
    color: #b3b2b2;
    float: left;
}

.return_acess {
    width: 20px;
    height: 20px;
    float: left;
}

.msg_transf {
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 7px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 5px;
    margin-bottom: 15px;
}

.extra{
    border: 0 ;
    font-size: 1rem;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0;
    padding-left: 0;
}

.texto-rosa{
    font-weight: 500;
    font-size: 1rem;
    color: #cb4386;
    margin-bottom: 0rem;
}

.texto{
    font-weight: 500;
    font-size: 1rem;
    color: #000;
    margin-bottom: 0rem;
}

.produtos-box{
    float: left;
}

.produto {
    width: 150px;
    height: 150px;
    margin: 10px
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
.produtos-box {
    display: inline-block;
    padding: 14px;
}

.loader-in-box {
    width: 50px;
}

.no-unity-msg {
    margin: 20px;
    font-size: .8rem;
}

.img_receita{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-position: center;
    background-image: url('/assets/new_report_img.svg');
    background-repeat: no-repeat;
}
