<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Funções Administrativas</h5>
      </div>
    </div>

    <div class="row" style = "margin-top: 30px"> 
      <div class="col-sm">
        <p class="texto-cinza" style="margin-bottom: 0">Aqui você pode adicionar colaboradores para contribuírem com o gerenciamento da conta Saúde Manauara. Eles podem ter diferentes funções, dependendo do que precisam gerenciar.</p>
      </div> 
    </div>
  </div>   
</div>

<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Adicionar Colaborador</h5>
      </div>
    </div>

    <!-- Module de Resposta da Api -->
    <div *ngIf="responseScreen">
        <app-responses></app-responses> 
      </div>
      <!-- End of Modulo de Resposta da Api-->
  
      <!-- Module de Loader -->
      <div class="row align-items-center" style="height: 400px" *ngIf="estadoLoad">
        <div class="col-sm">
            <div class="row justify-content-center">
                <div class="loader-in-box" style="margin-top: 10px">
                    <app-loader></app-loader>
                    <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                </div>
            </div>
        </div>
        </div>
        <!-- End of Module de Loader-->

        <div *ngIf="estadoLoad===false && responseScreen === false">
            <form [formGroup]="formColab">
                <div class="row" style = "margin-top: 30px"> 
                  <div class="col-sm-4">
                      <label class="label-teste texto">CPF</label> 
                      <div class="form-group">
                        <input 
                          class="form-control {{ cpfValido ? 'is-valid' : 'is-invalid'}}" 
                          [textMask]="{mask: cpf_mask}"
                          formControlName="cpf"
                          (input)="validaCPF(input)">
                      </div>
                    <label class="label-teste texto">Nome</label>
                      <div class="form-group">   
                        <input
                          class="form-control {{ nomeValido ? 'is-valid' : 'is-invalid'}}"
                          formControlName="nome"
                          (input)="validaNome(input)">
                      </div> 
                      <label class="label-teste texto">Senha</label>
                      <div class="form-group">   
            
                          <div *ngIf="togglePassword"
                          (click)="mostrarPassword()"
                          style= "height: 25px; width: 25px; z-index: 10; position: absolute; right: 45px; cursor: pointer; margin-top: 5px;">
                            <app-toggle-password></app-toggle-password>
                          </div>
              
                        <input
                          [type]="show_password ? 'text' : 'password'"
                          style="padding-right: 55px"
                          class="form-control {{ senhaValida ? 'is-valid' : 'is-invalid'}}"
                          formControlName="senha"
                          (input)="validaSenha()">
                      </div> 
                  </div> 
                  <div class="col-sm-4">
                    <label class="label-teste texto">E-mail</label>
                    <div class="form-group">   
                      <input
                        class="form-control {{ emailValido ? 'is-valid' : 'is-invalid'}}"
                        formControlName="email"
                        (input)="validaEmail(input)">
                    </div> 
                    <label class="label-teste texto">Confirmar E-mail</label>
                    <div class="form-group">   
                      <input
                        class="form-control {{ conf_emailValido ? 'is-valid' : 'is-invalid'}}"
                        formControlName="confirma_email"
                        (input)="validaConf_Email(input)">
                    </div>
                    <div>
                        <label class="label-teste texto">Administrador?</label>
                        <div style="margin-top: 10px">
                            <ui-switch [checked]=admin color="black" switchColor="#005346"
                            (change)="putColaboradorAdm()"></ui-switch>
                        </div>
                        <p>Pessoas com privilégios de administrador podem fazer tudo.</p>
                    </div>
                  </div>
                </div>
                <div><button  class="btn primary btn-sm" [disabled]="estadoForm" 
                  (click)="adicionarColaborador()">ADICIONAR</button></div>
              </form>
        </div>

  </div>   
</div>