<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Meus Dados</h5>
      </div>
    </div>

    <!-- Module de Resposta da Api -->
    <div *ngIf="responseScreen">
      <app-responses></app-responses> 
    </div>
    <!-- End of Modulo de Resposta da Api-->

    <!-- Module de Loader -->
    <div class="row align-items-center" style="height: 400px" *ngIf="estadoLoad">
      <div class="col-sm">
          <div class="row justify-content-center">
              <div class="loader-in-box" style="margin-top: 10px">
                  <app-loader></app-loader>
                  <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
              </div>
          </div>
      </div>
      </div>
      <!-- End of Module de Loader-->
    
    <div *ngIf="estadoLoad===false && responseScreen===false">
      <form [formGroup]="formMeusDados">
        <div class="row" style = "margin-top: 30px"> 
          <div class="col-sm">
            <label class="label-teste texto">Nome</label>
              <div class="form-group">   
                <input
                  class="form-control {{ nomeValido ? 'is-valid' : 'is-invalid'}}"
                  formControlName="nome"
                  (input)="validaNome(input)">
              </div> 
              <label class="label-teste texto">CPF</label> 
              <div class="form-group" style="margin-bottom: 0px">
                <fieldset disabled>
                <input 
                  class="form-control {{ cpfValido ? 'is-valid' : 'is-invalid'}}" 
                  [textMask]="{mask: cpf_mask}"
                  formControlName="cpf"
                  style="color: #6e6e6d; background-color: #ececea"
                  id="disabledTextInput"
                  (input)="validaCPF(input)"></fieldset>
              </div>
              <label class="label-teste texto">Endereço</label> 
              <div class="form-group">
                <input 
                  class="form-control {{ enderecoValido ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="endereco"
                  (input)="validaEndereco(input)">
              </div>
              <label class="label-teste texto">Código profissional</label> 
              <div class="form-group">
                <input 
                  class="form-control {{ codValido ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="codigo_profissional"
                  (input)="validaCodigo(input)">
              </div>
              <p>* O cpf não pode ser alterado</p>
            </div>   
      
            <div class="col-sm">
              <label class="label-teste texto">E-mail</label>
              <div class="form-group">   
                <input
                  class="form-control {{ emailValido ? 'is-valid' : 'is-invalid'}}"
                  formControlName="email"
                  (input)="validaEmail(input)">
              </div> 
              <label class="label-teste texto">Telefone</label> 
              <div class="form-group">
                <input 
                  class="form-control {{ telefoneValido ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="telefone"
                  [textMask]="{mask: celular_mask}"
                  (input)="validaTelefone(input)">
              </div>
              <label class="label-teste texto">Data de nascimento</label> 
              <div class="form-group">
                <input 
                  class="form-control {{ data_nascValido ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="data_nasc"
                  [textMask]="{mask: birth_mask}"
                  (input)="validaData(input)">
              </div>
              <label class="label-teste texto">Marca favorita</label> 
              <select class="form-control" name="marca">
                <option>Escolha</option>
              </select>
            </div>
              
            <div class="col-sm">
              <div class="row" style ="margin-top: 50px">
                <div class="col-sm">
                  <div class="row justify-content-center">
                      <div class="row justify-content-center" style="width: 100%">
                          <img class="new_user_img" src="{{img_profi}}">
                      </div>
                    <button class="btn btn-sm primary_hover" style="margin-top: 15px"  data-toggle="modal" data-target="#exampleModall">ALTERAR FOTO</button>
                  </div>  
                </div>  
              </div>
            </div>   

          </div>
          <button class="btn btn-sm primary" [disabled]="estadoForm" (click)="alterarDados()">SALVAR ALTERAÇÕES</button> 
        </form>
    </div>
    </div>
</div>

<div>
  <app-mudar-senha></app-mudar-senha>
</div>


<!--                            MODAL                                                 -->

<div class="modal fade" id="exampleModall" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="margin:0px; margin-left: 10px; color: rgba(0,0,0,0.54)">Adicione a foto do Profissional</h5>
      </div>
          
      <div class="modal-body" style="padding: 1rem 1rem 0rem 1rem;">
              <div class="linha_title2"></div>
        <div>
          <app-envia-imagem-profissional></app-envia-imagem-profissional>
      </div>
        
      </div>
          
      <div class="modal-footer">
        <button class="btn laranja btn-sm btn-block col-sm-4" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">FECHAR EDITOR</button>
      </div>
    </div>
  </div>
</div>