<div class="row align-items-center" [ngStyle]="styleResponse">
  <div class="col-sm">
      <div class="row justify-content-center">
          <div style="margin-top: 60px; margin-bottom: 60px">
            <div class="row justify-content-center">
              <div *ngIf="response_code==200" class="img_response_sucess"></div>
              <div *ngIf="response_code==400" class="img_response_error"></div>
            </div>
            <div style="width: 400px">
              <p class="msg_response text-center">{{mensagem}}</p>
            </div>
            <div class="row justify-content-center">
              <button (click)="fecharResponseScreen(false)" class="btn primary btn-sm btn-block col-sm-6" >{{close_button}}</button>
            </div>
          </div>
      </div>
  </div>
</div> 