.loader-in-box {
width: 50px;
}
  
.no-unity-msg {
margin: 20px;
font-size: 14px;
}

.ativado {
    font-weight: 700;
    margin-top: 15px;
    color: #129cd8;
}

.pendente {
    font-weight: 700;
    color: #cb4386;
}

.rosa_hover{
    font-size: 9px;
    color: #c4c4c4;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.rosa_hover:hover{
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
}

.mypag /deep/ .pagination .current{
    color: #199dd9;
    font-weight: 600;
    font-size: 1rem;
}

.mypag /deep/  .pagination .disabled{
    color: #199dd9;
    font-size: 1rem;
}

.mypag /deep/  .pagination a:hover .pagination button:hover{
    background-color: transparent;
    color: #199dd9;
    font-size: 1rem;
}
.mypag /deep/  .pagination a{
    color: #c4c4c4;
    font-size: 1rem;
    font-weight: 600;
}
.mypag /deep/  .pagination{
    text-align: center;
    justify-content: center;
    padding: 0;
    font-size: 1rem;
    margin-bottom: 0rem;
}

.mypag /deep/ .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #37A5DA;
    background-color: #fff;
    border: 0px solid #dee2e6;
}

.mypag /deep/ .page-item.active .page-link {
    z-index: 1;
    color: #37A5DA;
}

.new_user_img {
    width: 20px;
    height: 20px;
}
