.error-box{
    margin-top: 10px;
    margin-bottom: 10px;  
    width: 100%;
    border: solid 1px #cb4386;
    color: #cb4386;
}

.error-text{
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: 600;
}