<div class="produtos-box" *ngFor="let produto of dados_produtos">
  <div style="width: 250px; margin-bottom: 10px">
    <div class="row d-flex justify-content-center" style="margin-right: 15px; ">
      <div class="row justify-content-center">
        <img class="produto " src={{mostrarImg(produto.img)}} (error)="this.src=mostrarImg(null)">
      </div>
      <div class="row justify-content-center" style="padding-left: 20px; padding-right: 20px">
        <p class="text-center" style="font-size: .9rem; font-weight: 500; margin-bottom: 0; overflow: hidden;"><label>{{produto.nome}}</label></p>
        <p class="text-center" style="font-size: .9rem; line-height: 1.2; width: 240px; height: 50px; overflow: hidden; white-space: normal"><label>{{showDescricao(produto.descricao)}}</label></p>
        <button class="justify-content-center btn btn-sm primary_hover" (click)=editarProduto(produto) style="margin-top: 10px">EDITAR</button>
      </div>
    </div>
  </div>
</div>