.produto {
    width: 150px;
    height: 150px;
    margin: 10px
}

.produtos-box{
    float: left;
}

.primary{
    margin-top: 10px;
    background-color: #005346;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}

.primary_hover{
    color: #005346;
    border: 2px solid #005346;
    border-radius: 20px;
    background-color: transparent;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}

.primary_hover:hover{
    background-color: #005346;
    color: #fff;
    border: 2px solid transparent;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}