<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Meus Dados</h5>
      </div>
    </div>
    <form [formGroup]="formMeusDados">
    <div class="row" style = "margin-top: 30px"> 
      <div class="col-sm-4">
        <label class="label-teste texto">Nome</label>
          <div class="form-group">   
            <input
              class="form-control {{ nomeValido ? 'is-valid' : 'is-invalid'}}"
              formControlName="nome"
              (input)="validaNome(input)">
          </div> 
          <label class="label-teste texto">CPF</label> 
          <div class="form-group">
            <fieldset disabled>
            <input 
              class="form-control {{ cpfValido ? 'is-valid' : 'is-invalid'}}" 
              [textMask]="{mask: cpf_mask}"
              formControlName="cpf"
              style="color: #6e6e6d"
              id="disabledTextInput"
              (input)="validaCPF(input)"></fieldset>
              <p>O cpf não pode ser alterado</p>
          </div>
      </div> 
      <div class="col-sm-4">
        <label class="label-teste texto">E-mail</label>
        <div class="form-group">   
          <input
            class="form-control {{ emailValido ? 'is-valid' : 'is-invalid'}}"
            formControlName="email"
            (input)="validaEmail(input)">
        </div> 
      </div>
    </div>
    <div><button  class="btn primary btn-sm" [disabled]="estadoForm" (click)="alterarDados()">SALVAR ALTERAÇÕES</button></div>
  </form>
  </div>   
</div>

<div>
  <app-mudar-senha></app-mudar-senha>
</div>
