<div class="card-box">
  <div class = "card-new" style = "width: 100%;">
    <div class="row">
      <div class="col-sm">
        <h5 style="margin:0px;">Funções Administrativas</h5>
      </div>
      <div style="margin-top: 0; margin-left: 15px; margin-right: 15px; border-bottom: solid 2px #e2e2e2; height: 10px; width: 100%"></div>
    </div>
        
    <div class="row" style = "margin-top: 10px">
      <div class="col-sm">
        <p style="font-size: 1rem">Aqui você consegue adicionar colaboradores para contrinuirem com o gerenciamento da conta
              Saúde Manauara. Eles podem ter funções diferentes, dependendo daquilo que precisarem gerenciar.
        </p>
      </div>
    </div>  
  </div>
</div>
  
<div class="card-box">
  <div class = "card-new" style = "width: 100%;">
    <div class="row">
      <div class="col-sm">
          <h5 style="margin:0px;">Adicionar Colaborador</h5>
      </div>
      <div style="margin-top: 0; margin-left: 15px; margin-right: 15px; border-bottom: solid 2px #e2e2e2; height: 10px; width: 100%"></div>
    </div>

    <!-- Modulo de Erros de Input-->
    <div *ngIf="errors_input">
      <app-errors></app-errors>
    </div>
    <!-- End of Modulo de Erros de Input-->

    <!-- Module de Resposta da Api -->
    <div *ngIf="responseScreen">
      <app-responses></app-responses> 
    </div>
    <!-- End of Modulo de Resposta da Api-->

    <!-- Module de Loader -->
    <div class="row align-items-center" style="height: 727px" *ngIf="estadoLoad">
      <div class="col-sm">
          <div class="row justify-content-center">
              <div class="loader-in-box" style="margin-top: 10px">
                  <app-loader></app-loader>
                  <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
              </div>
          </div>
      </div>
    </div>
    <!-- End of Module de Loader-->

    <div *ngIf="inputsAddColaborador">

      <form [formGroup]="formFuncoes" (ngSubmit)="cadastrarColaborador()">
        <div class="row" style = "margin-top: 10px">
          <div class="col-sm-5">
            <div class="form-group">
              <input
                type="text" 
                class="form-control extra {{ nomeValido ? 'is-valid' : 'is-invalid'}}"
                style="text-transform: capitalize"
                placeholder="Nome"
                formControlName="nome_colaborador"
                #inputNome (input)="validaNome(inputNome)"
                required>
            </div>
            
            <div class="form-group">
              <input
                type="text" 
                class="form-control extra {{ emailValido ? 'is-valid' : 'is-invalid'}}"
                placeholder="E-mail"
                formControlName="email"
                #inputEmail (input)="validaEmail(inputEmail)"
                required>
            </div>
          </div>
    
          <div class="col-sm-5">
            <div class="form-group">
              <input
                type="text" 
                class="form-control extra {{ cpfValido ? 'is-valid' : 'is-invalid'}}"
                placeholder="CPF"
                formControlName="cpf"
                [textMask]="{mask: cpf_mask}"
                #inputCpf (input)="validaCPF(inputCpf)"
                required>
            </div>
          
            <div class="form-group">
              <input
                type="text" 
                class="form-control extra {{ confEmailValido ? 'is-valid' : 'is-invalid'}}"
                placeholder="Confirmar E-mail"
                formControlName="confirmar_email"
                #inputConfEmail (input)="validaConfEmail(inputConfEmail)"
                required>
            </div>
          </div>
        </div>
    
        <div class="row" style = "margin-top: 10px">
          <div class="col-sm">
            <h5 style="margin:0px;">Permissões</h5>
          </div>
          <div style="margin-top: 0; margin-left: 15px; margin-right: 15px; border-bottom: solid 2px #e2e2e2; height: 10px; width: 100%"></div>
        </div>
    
        <div class="row" style = "margin-top: 10px">
          <div class="col-sm">
            <div class="card-deck" style = "width: 100%;">
              
              <div *ngIf="is_admin"
              class="card" style="border: 1px #e2e2e2;">
                <div class="card-body">
                    <div class="texto radio-inline" style="margin-right: 15px;">
                        <input
                            style="margin-right: 10px; cursor: pointer;"
                            formControlName="perfil_colaborador"
                            type="radio" 
                            name="perfil_colaborador" 
                            value="GC"
                            >
                            Gerente de Conta
                        
                        <p class="card-text texto-small"><label>Terá acesso ao gerenciamento de<br />toda conta Saúde Manauara. Como:<br/> 
                          - Consultar dashboards<br />
                          - Consultar unidades<br />
                          - Cadastrar operadores<br />
                          - Consultar extratos<br />
                          - Adicionar reserva de trocos<br />
                          - Cadastrar colaboradores<br />
                          - Editar dados<br /></label></p>
                    </div>
                  
                </div>
              </div>
                      
              <div *ngIf="is_admin || cargo==='Gerente de Conta'"
              class="card"  style="border: 1px #e2e2e2;">
                <div class="card-body">
                    <div class="texto radio-inline" style="margin-right: 15px;">
                      <input
                      style="margin-right: 10px; cursor: pointer;"
                      formControlName="perfil_colaborador"
                      type="radio" 
                      name="perfil_colaborador" 
                      value="GU"
                      >
                      Gerente de Unidade
                        <p class="card-text texto-small"><label>Terá acesso ao gerenciamento<br /> por unidade. Como:<br/>
                          - Consultar dashboard da unidade<br />
                          - Cadastrar operadores<br />
                          - Consultar extratos<br />
                          - Adicionar reserva de trocos<br /></label></p>
                    </div>
                  
                </div>
              </div>
                      
              <div class="card"  style="border: 1px #e2e2e2;">
                <div class="card-body">
                    <div class="texto radio-inline" style="margin-right: 15px;">
                      <input
                      style="margin-right: 10px; cursor: pointer;"
                      formControlName="perfil_colaborador"
                      type="radio" 
                      name="perfil_colaborador" 
                      value="AC"
                      >
                      Auxiliar de Conta
                        <p class="card-text texto-small"><label>Terá acesso limitado ao sistema.<br/>  Como:<br/>
                            - Consultar dashboard<br />
                            - Consultar extratos<br />
                            - Adicionar reserva de trocos<br /></label></p>
                    </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
    
        <div class="row" style = "margin-top: 20px">
          <div class="col-sm-6">
            <div class="row align-items-end">
                <div class="col-sm-5">
                  <p style="font-size: 1rem; margin-bottom: 5px">{{nome_unidade}}</p>
                </div>
                <div class="col-sm-3">
                  <span class="btn rosa_hover btn-sm btn-block" style="font-size: 12px; margin-top: 0px;  margin-bottom: 5px; padding: 1px" 
                  data-toggle="modal" data-target="#modalUnidade">Escolher</span>
                </div>
                <div style="margin-top: 0; margin-left: 15px; margin-right: 15px; border-bottom: solid 1px #e2e2e2; height: 0px; width: 61%"></div>
            </div>   
          </div>
        </div>
    
        <div>
          <span class="btn rosa btn-sm btn-block col-sm-2" style="margin-top: 40px;" 
          data-toggle="modal" data-target="#modalMsgConfirm" (click)="mensagemConfirmacao()" [ngStyle]="estiloBotaoAtivo">Adicionar</span>
        </div>
      </form>

    </div>

    </div>
  </div>
  
  <div class="card-box">
    <div class = "card-new" style = "width: 100%;">
      <div class="row">
        <div class="col-sm">
            <h5 style="margin:0px;">Colaboradores Adicionados</h5>
        </div>
              
        <div class="linha_title"></div>
      </div>
          
      <div class="row">
        <div class="col-sm" style="top: 10px;">
          <app-colaboradores></app-colaboradores>
        </div>
      </div>
          
    </div>
    
  </div>
  <div class="foot-margin"></div>


  <!-- Modal Escolha Unidade -->

  <div class="modal fade" id="modalUnidade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 style="margin:0px;margin-left:10px;">Escolha a unidade</h5>
          </div>      
          <div class="modal-body" style="padding: 0rem 1rem 0rem 1rem;">
              <div>
                  <app-unidadesmodal></app-unidadesmodal>
              </div>
          </div>
                                
          <div class="modal-footer" style="padding: 0rem 1rem 1rem 1rem">
            <button class="btn rosa_hover btn-sm btn-block col-sm-3"  style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">CANCELAR</button>
            <button class="btn rosa btn-sm btn-block col-sm-3" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

     <!-- End of Modal Escolha Unidade -->

     <!-- Modal Mensagem de Confirmação -->

     <div class="modal fade bd-example-modal-sm1" id="modalMsgConfirm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header" style="justify-content: center">
              <h6 class="modal-title text-center">Adicionar Colaborador</h6>  
            </div>
                              
            <div class="modal-body" style="padding: 0.5rem 0.8rem 0.8rem 0.8rem">
                <div class="row align-items-center" >
                    <div class="col-sm">
                        <div class="row justify-content-center">
                            <img class="email-img" src="/assets/convite-colaborador.svg">
                        </div>
                    </div>
                </div>
              <p class="text-center" style="margin-bottom: 0rem; font-size: 0.9rem;">{{mensagem_confirmacao}}</p>
              <p class="text-center" style="font-weight: 600; font-style: oblique; margin-bottom: 0rem;font-size: 0.9rem;">{{email_novo_colaborador}}</p>
            </div>

            <div class="modal-footer">
              <button class="btn rosa_hover btn-sm btn-block col-sm-4" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">CANCELAR</button>
              <button class="btn rosa btn-sm btn-block col-sm-4" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal" (click)="cadastrarColaborador()">ENVIAR</button>
            </div>
          </div>
        </div>
      </div>

       <!-- End of Modal Mensagem de Confirmação -->


  
  