.card-header{
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
}

.card{
    margin-top: 20px;
}

.head_module{
    margin: -20px;
    margin-top: -10px;
    background-color: #000;
    color: #fff
}

.card-box {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px 10px 10px 10px
}

.title-box {
    color: black;
    font-size: 16px;
    margin-bottom: 0px;
}

.card{
    margin: 10px
}

.card-body{
    padding: 0;
}

.card-title {
    width: 100%;
    padding: 10px;
    margin: 0 0 5px 5px;
    border-bottom: solid gray 1px
}

.card-new {
    border-radius: 2px;
    color: rgba(0,0,0,0.54); 
    margin-left: 10px;
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.primary{
    margin-top: 10px;
    background-color: #005346;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}

.primary_hover{
    color: #005346;
    border: 2px solid #005346;
    border-radius: 20px;
    background-color: transparent;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}

.primary_hover:hover{
    background-color: #005346;
    color: #fff;
    border: 2px solid transparent;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 7px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 5px;
    margin-bottom: 15px;
}

.label-teste {
    display: inline-block;
    margin-bottom: 0;
    color: #b3b2b2;
}

.texto{
    font-weight: 500;
    font-size: 1rem;
    color: #000;
    margin-bottom: 0rem;
}

.resize-none {
    resize: none;
    height: 120px;
    font-size: 1rem;
}

.new_user_img {
    width: 200px;
    height: 200px;
    border-radius: 60px;
}

.linha_acess {
    margin-top: 0;  
    border-bottom: solid 1px #e2e2e2; 
    height: 5px; 
    width: 100%
}

.loader-in-box {
    width: 50px;
}

.no-unity-msg {
    margin: 40px;
    font-size: .8rem;
}