<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Gerenciar produtos</h5>
      </div>
    </div>
    <div class="row" style = "margin-top: 30px"> 
      <div class="col-sm">
        <p class="texto">Buscar medicamento</p>
        <div class="linha_acess"></div>
      </div>
    </div>
    <div class="row" style = "margin-top: 20px">
      <div class="col-sm">
        <label class="label-teste texto">Nome</label>
        <form [formGroup]="formBuscarProduto">
        <div class="form-group">   
        <input
          class="form-control"
          formControlName="nome"
          (input)="buscarProdutoViaInput()"
          id="nome">
        </div> 
      </form>
      </div>
      <div class="col-sm-2">
        <label class="label-teste texto">Categoria</label>
        <select class="form-control extra" name="categoria" [(ngModel)]="id_categoria">
          <option selected value=0>ESCOLHA</option>
          <option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.categoria}}</option>
        </select>
      </div>
      <div class="col-sm-2 d-flex align-items-center">
        <button class=" float-left btn btn-sm primary" (click)="buscarProduto()">BUSCAR</button> 
      </div>
    </div>
  </div>
</div>
<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Medicamentos</h5>
      </div>
    </div>

     <!-- Module de Loader -->
  <div class="row align-items-center" style="height: 250px" *ngIf="estadoLoad">
    <div class="col-sm">
        <div class="row justify-content-center">
            <div class="loader-in-box" style="margin-top: 10px">
                <app-loader></app-loader>
                <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
            </div>
        </div>
    </div>
  </div>
  <!-- End of Module de Loader-->

    <div *ngIf="produtos_validos===false">
        <p class = "no-unity-msg text-center">{{msg_produtos_erro}}</p>
    </div>

    <div *ngIf="estadoLoad===false && produtos_validos">
        <div class="row" style = "margin-top: 30px" > 
          <div class="col-sm">
            <app-listar-busca-produtos></app-listar-busca-produtos>
          </div>
        </div>
    </div>

  </div>
</div>