<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Escolha as opções de bussca</h5>
      </div>
    </div>

    <form [formGroup]="formHistorico">
    <div class="row" style = "margin-top: 30px"> 
        <div class="col-sm-5">
          <label class="label-teste texto">Profissional de saúde</label>
          <div class="form-group">
            <input 
              class="form-control {{ cpfValido ? 'is-valid' : 'is-invalid'}}" 
              formControlName="cpf"
              placeholder="Digite o CPF do Colaborador"
              [textMask]="{mask: cpf_mask}"
              (input)="validaCPF(input)">
          </div>
        </div> 
       
        <div class="col-sm-5">
          <label class="label-teste texto">Status</label>
          <div class="row" style="margin-left: 5px">
            <div class="radio-inline float-left">
                <input 
                style="margin-right: 10px; cursor: pointer;"
                type="radio" 
                formControlName="status_receita" 
                name="status_receita"
                value="1">
              <label class="texto-cinza">Indicado</label>
            </div>
            <div class="radio-inline float-left" style="margin-left: 10px">
                <input 
                style="margin-right: 10px; cursor: pointer;"
                type="radio" 
                formControlName="status_receita"
                name="status_receita"
                value="2">
              <label class="texto-cinza">Finalizado</label>
            </div>
            <div class="radio-inline float-left" style="margin-left: 10px">
                <input 
                style="margin-right: 10px; cursor: pointer;"
                type="radio" 
                formControlName="status_receita" 
                name="status_receita"
                value="0">
              <label class="texto-cinza">Todos</label>
            </div>
          </div>
        </div>
    </div>
  </form>
    
      
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-sm-5">
                <label class="label-teste texto" style="margin-bottom: 5px">Data inicial</label>   
                <my-date-picker name="data_inicio" [options]="myDatePickerOptions1" (input)="ativarBotao(f)"
                [(ngModel)]="model1" required></my-date-picker>
            </div>
            <div class="col-sm-5" >
                <label class="label-teste texto" style="margin-bottom: 5px;">Data final</label>
                <my-date-picker name="data_fim" [options]="myDatePickerOptions2" (input)="ativarBotao(f)"
                  [(ngModel)]="model2" required></my-date-picker>
              </div> 
    
        </div>
        <div><button type="submit" class="btn primary btn-sm ">BUSCAR</button></div>
      </form>
  </div>
</div>


<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Histórico</h5>
      </div>
    </div>

    <!-- Module de Loader -->
    <div class="row align-items-center" style="height: 250px" *ngIf="estadoLoad">
      <div class="col-sm">
          <div class="row justify-content-center">
              <div class="loader-in-box" style="margin-top: 10px">
                  <app-loader></app-loader>
                  <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
              </div>
          </div>
      </div>
      </div>
      <!-- End of Module de Loader-->

      <div *ngIf="receitas_validas===false">
        <p class = "no-unity-msg text-center">{{msg_produtos_erro}}</p>
      </div>
    
      <div *ngIf="estadoLoad===false && receitas_validas">
          <div class="row">
              <div class="col-sm-5" style="margin-top: 20px"> 
                  <p class="texto">Total de vendas finalizadas no período:&nbsp;<span class="texto-laranja">{{vendas_finalizadas}}</span> </p>
                </div>
              <table id="fechamento" class="table table-striped" [mfData]="lista_historicos" #mf="mfDataTable" [mfRowsOnPage]="10" style="margin-bottom: 0%; margin:15px;">
                  <thead>
                  <tr style="color: #fafafa; background-color: #000;">
                      <th style="width: 10%; font-size: .8rem">
                          <mfDefaultSorter by="codigo">Código</mfDefaultSorter>
                        </th>
                      <th style="width: 30%; font-size: .8rem">
                        <mfDefaultSorter by="profissional">Profissional</mfDefaultSorter>
                      </th>
                      <th style="width: 20%; font-size: .8rem">
                        <mfDefaultSorter by="cliente">Cliente</mfDefaultSorter>
                      </th>
                      <th style="width: 10%; font-size: .8rem">
                        <mfDefaultSorter by="cpf_cliente">CPF Cliente</mfDefaultSorter>
                      </th>
                      <th style="width: 10%; font-size: .8rem">
                        <mfDefaultSorter by="data_criacao">Data Receita</mfDefaultSorter>
                      </th>
                      <th style="width: 5%; font-size: .8rem">
                        <mfDefaultSorter by="valor_final">Valor da Venda</mfDefaultSorter>
                      </th>
                      <th style="width: 5%; font-size: .8rem">
                        <mfDefaultSorter by="valor_comissao">Valor da Comissao</mfDefaultSorter>
                      </th>
                      <th style="width: 5%; font-size: .8rem">
                        <mfDefaultSorter by="status">Status</mfDefaultSorter>
                      </th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let lista_historico of mf.data">
                          <td>{{lista_historico.codigo_receita}}</td>
                          <td>{{lista_historico.profissional}}</td>
                          <td>{{lista_historico.cliente}}</td>
                          <td>{{lista_historico.cpf_cliente}}</td>
                          <td>{{lista_historico.data_criacao | date :'dd/MM/yyyy'}}</td>
                          <td class = "text-center">{{(lista_historico.valor_final!=null ? (lista_historico.valor_final | currency: 'BRL') : '-')}}</td>
                          <td class = "text-center">{{(lista_historico.valor_comissao!=null ? (lista_historico.valor_comissao | currency: 'BRL') : '-')}}</td>
                          <td style = "font-weight: 700; font-size: .8rem;" 
                          [ngStyle]="{'color': (lista_historico.status===0 ? '#ea5b17' : '#37A5DA')}">{{(lista_historico.status===0 ? 'Indicado' : 'Finalizado')}}</td>
                      </tr>
                  </tbody>
                  <tfoot>
                      <tr>
                      <td colspan="8">
                          <mfBootstrapPaginator class="mypag"></mfBootstrapPaginator>
                      </td>
                      </tr>
                  </tfoot>
              </table>
          </div> 
          <div>
            <button class="btn primary btn-sm">Exportar Dados para PDF</button>
          </div>
      </div>
  </div>
</div>
  