<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Cadastrar Paciente</h5>
      </div>
    </div>

      <!-- Module de Resposta da Api -->
      <div *ngIf="responseScreen">
        <app-responses></app-responses>
      </div>
      <!-- End of Modulo de Resposta da Api-->

      <!-- Module de Loader -->
      <div class="row align-items-center" style="height: 400px" *ngIf="estadoLoad">
        <div class="col-sm">
            <div class="row justify-content-center">
                <div class="loader-in-box" style="margin-top: 10px">
                    <app-loader></app-loader>
                    <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                </div>
            </div>
        </div>
      </div>
      <!-- End of Module de Loader-->

    <div *ngIf="estadoLoad===false && responseScreen===false">

        <form [formGroup]="formCliente">
            <div class="row" style = "margin-top: 30px">
              <div class="col-sm-4">

                <label class="label-teste texto">CPF</label>
                <div class="form-group">
                  <input
                    class="form-control  {{ cpfValido ? 'is-valid' : 'is-invalid'}}"
                    [textMask]="{mask: cpf_mask}"
                    formControlName="cpf"
                    (input)="validaCPF(input)">
                </div>

                <label class="label-teste texto">Nome</label>
                  <div class="form-group">
                    <input
                      class="form-control {{ nomeValido ? 'is-valid' : 'is-invalid'}}"
                      formControlName="nome"
                      (input)="validaNome(input)">
                  </div>
                  <label class="label-teste texto">Endereço</label>
                  <div class="form-group">
                    <input
                      class="form-control {{ enderecoValido ? 'is-valid' : 'is-invalid'}}"
                      formControlName="endereco"
                      (input)="validaEndereco(input)">
                  </div>
              </div>

              <div class="col-sm-4">
                <label class="label-teste texto">E-mail</label>
                <div class="form-group">
                  <input
                    class="form-control {{ emailValido ? 'is-valid' : 'is-invalid'}}"
                    formControlName="email"
                    (input)="validaEmail(input)">
                </div>

                <label class="label-teste texto">Telefone</label>
                <div class="form-group">
                  <input
                    class="form-control {{ telefoneValido ? 'is-valid' : 'is-invalid'}}"
                    [textMask]="{mask: celular_mask}"
                    formControlName="telefone"
                    (input)="validaTelefone(input)">
                </div>

                <label class="label-teste texto">Data de nascimento</label>
                <div class="form-group">
                  <input
                    class="form-control {{ data_nascValido ? 'is-valid' : 'is-invalid'}}"
                    formControlName="data_nasc"
                    [textMask]="{mask: birth_mask}"
                    (input)="validaData(input)">
                </div>
              </div>
            </div>
            <p *ngIf="cliente_ja_cadastrado">{{mensagem_status_cliente}}</p>
            <button class="btn btn-sm primary"
            [disabled]="estadoForm" (click)="actionCliente()">{{text_button}}</button>
          </form>
    </div>

  </div>
</div>

<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Gerenciar clientes</h5>
      </div>
    </div>

    <div class="row" style = "margin-top: 30px">
      <div class="col-sm">
        <button class="btn btn-sm primary_hover" style="margin-top: 15px" routerLink="/dashboard/gerenciar">GERENCIAR PACIENTES</button>
      </div>
    </div>
  </div>
</div>
