<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Alterar Senha</h5>
      </div>
    </div>

    <!-- Module de Resposta da Api -->
    <div *ngIf="responseScreen">
      <app-responses></app-responses> 
    </div>
    <!-- End of Modulo de Resposta da Api-->

    <!-- Module de Loader -->
    <div class="row align-items-center" style="height: 400px" *ngIf="estadoLoad">
      <div class="col-sm">
          <div class="row justify-content-center">
              <div class="loader-in-box" style="margin-top: 10px">
                  <app-loader></app-loader>
                  <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
              </div>
          </div>
      </div>
      </div>
      <!-- End of Module de Loader-->

      <div *ngIf="estadoLoad===false && responseScreen===false">

        <form [formGroup]="formNewPassword">
          <div class="row" style = "margin-top: 30px"> 
            <div class="col-sm-4">
              <label class="label-teste texto">Senha atual</label>
              <div class="form-group">   
      
                  <div *ngIf="togglePassword"
                  (click)="mostrarPassword()"
                  style= "height: 25px; width: 25px; z-index: 10; position: absolute; right: 45px; cursor: pointer; margin-top: 5px;">
                    <app-toggle-password></app-toggle-password>
                  </div>
      
                <input
                  [type]="show_password ? 'text' : 'password'"
                  style="padding-right: 55px"
                  class="form-control {{ senhaAtualValida ? 'is-valid' : 'is-invalid'}}"
                  formControlName="senha_atual"
                  (input)="validaSenha()">
              </div> 
              <label class="label-teste texto">Nova senha</label> 
              <div class="form-group">
                  <div *ngIf="toggleNewPassword"
                  (click)="mostrarPassword()"
                  style= "height: 25px; width: 25px; z-index: 11; position: absolute; right: 45px; cursor: pointer; margin-top: 5px;">
                    <app-toggle-password></app-toggle-password>
                  </div>
                <input 
                  [type]="show_password ? 'text' : 'password'"
                  style="padding-right: 55px"
                  class="form-control {{ senhaNovaValida ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="nova_senha"
                  (input)="validaNovaSenha()">
              </div>
              <label class="label-teste texto">Confirmar senha</label> 
              <div class="form-group">
      
                  <div *ngIf="toggleNewRePassword"
                  (click)="mostrarPassword()"
                  style= "height: 25px; width: 25px; z-index: 10; position: absolute; right: 45px; cursor: pointer; margin-top: 5px;">
                    <app-toggle-password></app-toggle-password>
                  </div>
                  
                <input 
                  [type]="show_password ? 'text' : 'password'"
                  style="padding-right: 55px"
                  class="form-control {{ senhaNovaRepeatValida ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="nova_senha_repeat"
                  (input)="validaNovaSenhaRR()">
              </div>
            </div>  
          </div> 
          <button class="btn btn-sm primary" [disabled]="estadoForm2" (click)="alterarSenha()">ALTERAR SENHA</button> 
        </form>

      </div>
  </div>
</div>