.bg-padrao{
    position: fixed;
    background: linear-gradient(0deg, #292827 70%, #000);
    z-index: -101;
    width: 100%;
    height: 2000px;
  }
  
  .topo{
    margin-top: 10%
  }
  
  .fullscreen{
      
    height: 100%;
    width: 100%;
    background:#ffffff;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .box {
  
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .redes{
    width: 45px;
    height: 45px;
  }
  
  .linha_title {
    margin-top: 20px; 
    border-bottom: solid 1px #b9b9b9; 
    height: 10px; 
    width: 100%
  }
  
  .horizontal .inner, .vertical .inner, .diagonal .inner {
    height: 100%;
    margin: 0 0 -20px 0;
  }
  
  .horizontal .inner {
    background: linear-gradient(to bottom, #00f 0%, #00f 50%, #f00 51%, #f00 100%);
  }
  
  .vertical .inner {
    background: linear-gradient(to right, #00f 0%, #00f 50%, #f00 51%, #f00 100%);
  }
  
  .diagonal .inner {
    background: linear-gradient(105deg, rgba(58,73,89,1) 30%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 30%);
  }
  
  .fundo {
    position: fixed;
    margin-left: 10%;
    z-index: -100;
    width: 900px;
    height: 2000px;
    background: #fafafa;
  }
  
  .text-c1 {
    font-size: 7rem; 
    font-family: uniheavy; 
    line-height: 1;
    background: -webkit-linear-gradient( -75deg, #fff 5%, #fff 95%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .text-gradient {
    background: -webkit-linear-gradient( -75deg, #425e27 5%, rgba(58,73,89,1) 95%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .scrollToTop{    
    
    display:none;
  }