<div>
  <div class="bg-padrao">  
  </div>
  <div class="inner">
  <div class="container d-flex justify-content-center " style="height: 650px">
          <span id='topo'></span>
      <div class="col-sm topo">
          <div class="row justify-content-center ">      
              <div *ngIf= "cadastro; else formLogin">
                  <div [@animacao-cadastro]="estadoCadastro">
                      <app-cadastro (exibirPainel)="exibirPainel($event)" (exibirLoad)="exibirLoad($event)" ></app-cadastro>
                  </div>
              </div>
              <ng-template #formLogin>
                  <div [@animacao-login]="estadoLogin">
                      <app-login-interno (exibirPainel)="exibirPainel($event)"></app-login-interno>
                  </div>
              </ng-template>
          </div>
      </div>
      <div [@animacao-login]="estadoCadastro" class="col-sm topo">
          <div style="margin-top: 10%">
                  <p class="text-c1" >Acesso <br/>Restrito</p>
                  <p style="font-family: uni; color: #fff" >Funcionário público, esta é a sua entrada.</p>
          </div>
      </div>
  </div>

</div>
</div>

<div [@animacao-fullscreen]="estadoFullscreen" class="fullscreen" *ngIf="firstLoad">
  <app-loader [@animacao-load]="estadoFirstLoad" class="box"></app-loader>
</div>
